/* Sidebar.css */
.sidebar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 280px;
    height: 100vh;
    background-color: #ebebeb;
    padding: 20px;
    color: #2f2f2f;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-right: 1px solid #ccc;
    z-index: 1000;
}

.sidebar-item {
    margin: 20px 0;
    cursor: pointer;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.sidebar-item:hover {
    background-color: #dedede;
}

.sidebar-item > .material-icons {
    margin-right: 10px;
}

.profile-container {
    text-align: center;
    color: #2f2f2f;
    margin-bottom: 30px;
}

.horizontal-line {
    margin: 12px 0;
    border: 0;
    border-top: 1px solid #ccc;
}

.app-name {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-icon {
    margin-right: 10px;
    width: 50px;
}

button {
    background: none;
    border: none;
    color: #2f2f2f;
    cursor: pointer;
    padding: 1px;
}

button:hover {
    color: #333;
}
